@media(max-width:720px){
    .site-header__nav{
        display: none;
    }
     .buttun{
        display: none;
    }
    .site-menu__bar{
        display: block;
        position: relative;
    }
    .site-menu__line{
        display: block;
        width: 50px;
        height: 3px;
        background-color: black;
        
    }
    .site-menu__line::after {
        width: 50px;
        height: 3px;
        background-color: black;
        position: absolute;
    }
    .site-menu__line::before {
        display: block;
        width: 50px;
        height: 3px;
        background-color: black;
        position: absolute;
    }
    
}
@media(max-width:768px){
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .col-6 {
        width: 100%;
    }
    .site-hero__title { 
        margin: auto;
        max-width: 573px;
        width: 100%;    
        text-align: center;   
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369px;
    }
    .input-group {
        margin: auto;
    }
    .site-hero__text {
        text-align: center;
    }
    .hero-wrapper {
         flex-direction: column-reverse;
         gap: 50px;
                    
    }
    .wrapper {
        display: flex;
        row-gap: 40px;
        flex-direction: column-reverse;
        padding-top: 95px;
    }
    .company-image {
        width: 80%;
        padding-bottom:unset;
    }
    .partner-title {
       text-align: center;
    }
    .partner-text {
        margin: auto;
        text-align: center;
    }
    .about-btn {
        margin: auto;
    }
    .the-first__section {
        flex-direction: column;
        margin: auto;
       
    }
    .how-use--image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .implement-image {
      width: 100%;
      height: 100%;
      /* margin-left: 80px; */
    
    }
    .simple-image {
      width: 100%;
      height: 100%;
      padding-right:100px;
      text-align: center;
    }
    .how-use__desc {
        text-align: center;
        padding-bottom: 100px;
    }
   .how-use__text {
    max-width: 573px;
    width: 100%;
    margin: auto;
    text-align: center;
   }    
     .the-second__section {
        flex-direction: column;
    }
    .how-use__title {
        text-align: center;
    }
  
    .service__card-body {
        align-items: center;
        
    }
    .service__card-text  {
        max-width: 223px;
        width: 100%;
        margin: auto;
        
    }
    .pricing-title {
        text-align: center;
        font-size: 48px;
    }
    .card-title {
        font-size: 24px;
    }
    .card-text {
        width: 223px;
        text-align: center;
    }
    .main-title__course {
        font-size: 48px;
    }
    .card-line {
        width: 223px;
        height: 1px;
        margin-bottom: 20px; 
      }
      .ready-wrapper {
        flex-direction: column;
        row-gap: 40px;
      }
      .ready-to__start--title {

      }
      /* ABOUT */
      .about-title {
        max-width: 573px;
        width: 100%;
        font-size: 48px;
        text-align: center;
        margin: auto;
      }     
      .col-1 {
        display: none;
      }
      .site-main__text {
        display: none;
      }
      .cards {
        gap: 10px;
      }
      .site-main__card-line {
        width: 223px;
      }
      .about-dec {
        gap: 15px;
      }
      .about-text {
       max-width: 456px;
       width: 100%;
      }
      .about-text__bold {
        width: 253px;
      }
      .col-11 {
        width: unset;
      }
      .about-wrapper {
        margin-bottom: unset;
      }
      .ready-wrapper {
        padding-top: 72px;
      }
     
      /* ABOUT */
    
      /* CONTACT */
      .hero-title--contact_title {
        width: 573px;
        font-size: 48px;
        letter-spacing: -0.369px;
        text-align: center;
        margin: auto;
      }
      .contact-input__wrapper {
        display: flex;
        flex-direction: column;
      }
      .input-section {
        display: flex;
        flex-direction: column;
       justify-content: center;
      }
      .col-md-6 {
        width: 100%;
        margin: auto;
      }
      .form-control {
       opacity: .6;
      }
      .content {
        width: 445px;
        margin: auto;
      }
      .input-text {
        margin-top: 26px;
      }
      .contact-wrapper {
        margin-top: 64px;
      }
      .contact-icon-title {
        width: 445px;
        margin: auto;
        text-align: center;
      }
      .contact_icons {
        margin: auto;
      }
      /* CONTACT */


}
@media(max-width:576px){
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .the-second__section
    .site-hero__title {
        width: 327px;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px; 
        letter-spacing: -0.246px;
    }
    .site-hero__text {
        text-align: center;
    }
    .company-image {
        padding-bottom: 45px;
 
    }
    .partner-title {
        width: 100%;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px; 
        letter-spacing: -0.246x;
        padding-top: unset;
      }
      .partner-text {
        width: unset;
        text-align: center;
      }
      .about-btn {
        margin: auto;
      }
      .col-6 {
        width: 100%;
    }
   
    .implement-image {
        /* max-width: 328px;   */
        /* width: 100%; */
        padding: 0 !important;
   }
   .simple-image {
    /* width: 400px;
    height: 250px; */
   }







    .pricing-title {
       
    }
    .service {
        padding-top: unset;
    }
 
    .card-text {
        width: 155px;
        text-align: center;
    }
    .main-title__course {
        font-size: 38px;
    }
    .card-line {
        width: 150px;
        height: 1px;
        margin-bottom: 20px; 
      }
      .footer-wrapper {
        flex-direction: column;
        row-gap: 39px;
      }
      .footer-content {
        flex-direction: column;
      }
      .footer-list {
        flex-direction: column;
        
      }

      /* ABOUT */
      .about-title {
        max-width: 327px;
        width: 100%;
        font-size: 32px;
        line-height: 36px; 
        letter-spacing: -0.246px;
      } 
      .about-wrapper {
        padding-top: 48px;
        padding-bottom: 40px;
        
      }
      .about-dec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .about-title {
        text-align: center;
        margin: auto;
      }
      .col-11 {
        width: 100%;
      }
      .site-main__text {
        display: block;
      }
      .about-text__bold {
        margin: auto;
      }
      .about-text {
        margin: auto;
      }
      .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
      }
      .site-main__card-line {
        width: 223px;
      }
      .site-main__card-line {
        display: unset;
      }
      .separately {
        display: block;
      }
      .site-main__card {
        text-align: center;
      }
      /* ABOUT */

        
      /* CONTACT */
      .hero-title--contact_title {
        width: 327px;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.246px;
        text-align: center;
        margin: auto;
        padding-top: 48px;
        padding-bottom: 40px;
      }
      .contact-input__wrapper {
        display: flex;
        flex-direction: column;
      }
      .input-section {
        display: flex;
        flex-direction: column;
       justify-content: center;
      }
      .col-md-6 {
        width: 100%;
        margin: auto;
      }
      .form-control {
        text-align:center;
      }
      .content {
        width: 445px;
        margin: auto;
        opacity: 0.5;
        background: #36536B;
      }
      .input-text {
        margin-top: 26px;
      }
      .contact-wrapper {
        margin-top: 64px;
      }
      .contact-icon-title {
        width: 445px;
        margin: auto;
        text-align: center;
      }
      .contact_icons {
        flex-direction:unset;
        margin: auto;
        width: 100%;
    
      }
      .icons-group-1 {
        display: flex;
        flex-wrap: wrap;
        margin: auto;

      }
      .icons-group-2 {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        
      }
      /* CONTACT */
    .input-group{
      display: flex !important;
      flex-direction: column !important;
      gap: 10px;
    }
    .form-wrapper{
      flex-direction: column;
      gap: 10px;
      border-radius: 1px;
      width: 100%;
      border-radius: 20px;
    }
    .form-demo-input{
      border: 2px solid black;
      border-radius: 20px;
      width: 100%;
    }
    .btn33{
      width: 100%;
    }
}
@media(max-width:375px){
    .title {
        max-width: 328px;
        width: 100%;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
    }
  .site-hero__input {

  }
  .Ready-to__start {
    width: 100%;
  }
 


 

}