@media(max-width:720px){
    .site-header__nav{
        display: none;
    }
    .site-header-hero .btn{
        display: none;
    }
    .site-menu__bar{
        display: block;
    }
    .site-menu__line{
        display: block;
    }
}
@media(max-width:768px){
    .site-hero__title {
        font-size: 48px;
        line-height: 56px;
    }
    .hero-wrapper {
         flex-direction: column-reverse;
         gap: 50px;
                
    }
    .wrapper {
        display: flex;
        flex-direction: row-reverse !important;
        
    }

}
